{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card mt-3">
            <h5 class="card-header text-center">Login Form</h5>
            <div class="card-body pt-5">
                {% if error %}
                <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
                </div>
                {% endif %}
                <form action="" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>   
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
   
  </div>
{% endblock content %}